<%= form_for @listing do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text-field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :name %>
  </div>
  <%f.submit "Submit" %>
  <% end %>
