<div class="signup-container">
  <%= button_to "Continue with Facebook", "/auth/facebook", class: "btn btn-default btn-lg btn-block btn-facebook" %>

<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name, type: 'text' %>
</div>
